.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 0;
  cursor: pointer;
}
.shortcut .shortcut-icon {
  font-size: 3rem;
  color: #fff;
}

.shortcut .btn {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}
