*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: none;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #292929;
}